.clcikhere{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.view-upload-image{
    width: 5rem;
    height: 5rem;
}
.upload__image-wrapper{
   /* border: 1px solid red; */
    width: 100%;
    height: 18rem;
    display: grid;
    grid-template-rows: 80% 20%;
    
}
.view-upload-main-image{
    display: flex;
    /* flex-wrap: wrap; */

    /* border: 1px solid black; */
}
.view-upload-image{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;


}
.view-upload-image img{
    width: 100%;
    height: 100%;
 
    
}
.bottom-actions{
    display: flex;
    flex-direction: column;
}
.bottom-actions button{
    height: 2rem;
}